service/src/main/resources/META-INF/wsdl/chargecustomerdata_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://soa.o2.co.uk/chargecustomerdata_1" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ccd="http://soa.o2.co.uk/chargecustomerdata_1" xmlns:xcore="http://soa.o2.co.uk/coredata_1">
	<xsd:import namespace="http://soa.o2.co.uk/coredata_1" schemaLocation="coredata_1_1.xsd"/>
	<xsd:element name="billSubscriber" type="ccd:billSubscriber">
		<xsd:annotation>
			<xsd:documentation>Request for billSubscriber operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="billSubscriberResponse" type="ccd:billSubscriberResponse">
		<xsd:annotation>
			<xsd:documentation>Response for billSubscriber operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="billSubscriberFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>billSubscriber Fault</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="billSubscriber">
		<xsd:annotation>
			<xsd:documentation>Request for billSubscriber operation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="msisdn" type="xcore:msisdnType"/>
			<xsd:element name="subMerchantId" type="xsd:string"/>
			<xsd:element name="priceGross" type="xsd:integer"/>
			<xsd:element name="priceNet" type="xsd:integer"/>
			<xsd:element name="debitCredit" type="xsd:string"/>
			<xsd:element name="contentCategory" type="xsd:string"/>
			<xsd:element name="contentType" type="xsd:string"/>
			<xsd:element name="contentDescription" type="xsd:string"/>
			<xsd:element name="applicationReference" type="xsd:string"/>
			<xsd:element name="smsNotify" type="xsd:boolean"/>
			<xsd:element name="smsMessage" type="xsd:string"/>
			<xsd:element name="promotionCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="billSubscriberResponse">
		<xsd:annotation>
			<xsd:documentation>Response for billSubscriber operation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="result" type="ccd:serviceResult"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="serviceResult">
	<xsd:annotation>
			<xsd:documentation>Complex type for service result</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string"/>
			<xsd:element name="resultDescription" type="xsd:string"/>
			<xsd:element name="sagTransactionId" type="xsd:string"/>
			<xsd:element name="applicationReference" type="xsd:string"/>
			<xsd:element name="resultData" type="ccd:map" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="map">
	<xsd:annotation>
			<xsd:documentation>Complex type for map</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="item" type="ccd:mapEntry" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mapEntry">
	<xsd:annotation>
			<xsd:documentation>Complex type for mapEntry</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="key" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>