service/src/main/resources/META-INF/wsdl/managepostpayboltonsservice_2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ManagePostpayBoltons" targetNamespace="http://soa.o2.co.uk/managepostpayboltonsservice_2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mba="http://soa.o2.co.uk/managepostpayboltonsservice_2" xmlns:mbd="http://soa.o2.co.uk/managepostpayboltonsdata_2">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://soa.o2.co.uk/managepostpayboltonsdata_2" schemaLocation="managepostpayboltonsdata_2_0.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="getCurrentBoltons">
		<wsdl:part element="mbd:getCurrentBoltons" name="getCurrentBoltons"/>
	</wsdl:message>

	<wsdl:message name="getCurrentBoltonsResponse">
		<wsdl:part element="mbd:getCurrentBoltonsResponse" name="getCurrentBoltonsResponse"/>
	</wsdl:message>

	<wsdl:message name="getCurrentBoltonsFault">
		<wsdl:part element="mbd:getCurrentBoltonsFault" name="getCurrentBoltonsFault"/>
	</wsdl:message>	
	
	<wsdl:message name="getValidBoltons">
		<wsdl:part element="mbd:getValidBoltons" name="getValidBoltons"/>
	</wsdl:message>

	<wsdl:message name="getValidBoltonsResponse">
		<wsdl:part element="mbd:getValidBoltonsResponse" name="getValidBoltonsResponse"/>
	</wsdl:message>

	<wsdl:message name="getValidBoltonsFault">
		<wsdl:part element="mbd:getValidBoltonsFault" name="getValidBoltonsFault"/>
	</wsdl:message>	
	
	<wsdl:message name="getBusinessPolicies">
		<wsdl:part element="mbd:getBusinessPolicies" name="getBusinessPolicies"/>
	</wsdl:message>

	<wsdl:message name="getBusinessPoliciesResponse">
		<wsdl:part element="mbd:getBusinessPoliciesResponse" name="getBusinessPoliciesResponse"/>
	</wsdl:message>

	<wsdl:message name="getBusinessPoliciesFault">
		<wsdl:part element="mbd:getBusinessPoliciesFault" name="getBusinessPoliciesFault"/>
	</wsdl:message>
	
	<wsdl:message name="addBoltons">
		<wsdl:part element="mbd:addBoltons" name="addBoltons"/>
	</wsdl:message>

	<wsdl:message name="addBoltonsResponse">
		<wsdl:part element="mbd:addBoltonsResponse" name="addBoltonsResponse"/>
	</wsdl:message>

	<wsdl:message name="addBoltonsFault">
		<wsdl:part element="mbd:addBoltonsFault" name="addBoltonsFault"/>
	</wsdl:message>
	
	<wsdl:message name="changeBoltonParameters">
		<wsdl:part element="mbd:changeBoltonParameters" name="changeBoltonParameters"/>
	</wsdl:message>

	<wsdl:message name="changeBoltonParametersResponse">
		<wsdl:part element="mbd:changeBoltonParametersResponse" name="changeBoltonParametersResponse"/>
	</wsdl:message>

	<wsdl:message name="changeBoltonParametersFault">
		<wsdl:part element="mbd:changeBoltonParametersFault" name="changeBoltonParametersFault"/>
	</wsdl:message>
	
	<wsdl:message name="removeBoltons">
		<wsdl:part element="mbd:removeBoltons" name="removeBoltons"/>
	</wsdl:message>

	<wsdl:message name="removeBoltonsResponse">
		<wsdl:part element="mbd:removeBoltonsResponse" name="removeBoltonsResponse"/>
	</wsdl:message>

	<wsdl:message name="removeBoltonsFault">
		<wsdl:part element="mbd:removeBoltonsFault" name="removeBoltonsFault"/>
	</wsdl:message>
	
	<wsdl:message name="getCurrentAndPendingBoltons">
		<wsdl:part element="mbd:getCurrentAndPendingBoltons" name="getCurrentAndPendingBoltons"/>
	</wsdl:message>

	<wsdl:message name="getCurrentAndPendingBoltonsResponse">
		<wsdl:part element="mbd:getCurrentAndPendingBoltonsResponse" name="getCurrentAndPendingBoltonsResponse"/>
	</wsdl:message>

	<wsdl:message name="getCurrentAndPendingBoltonsFault">
		<wsdl:part element="mbd:getCurrentAndPendingBoltonsFault" name="getCurrentAndPendingBoltonsFault"/>
	</wsdl:message>
	
	<wsdl:message name="cancelBoltonsChange">
		<wsdl:part element="mbd:cancelBoltonsChange" name="cancelBoltonsChange"/>
	</wsdl:message>

	<wsdl:message name="cancelBoltonsChangeResponse">
		<wsdl:part element="mbd:cancelBoltonsChangeResponse" name="cancelBoltonsChangeResponse"/>
	</wsdl:message>

	<wsdl:message name="cancelBoltonsChangeFault">
		<wsdl:part element="mbd:cancelBoltonsChangeFault" name="cancelBoltonsChangeFault"/>
	</wsdl:message>
		
	<wsdl:portType name="ManagePostpayBoltonsPortType">
		<wsdl:operation name="getCurrentBoltons">
			<wsdl:input name="getCurrentBoltons" message="mba:getCurrentBoltons"/>
			<wsdl:output name="getCurrentBoltonsResponse" message="mba:getCurrentBoltonsResponse"/>
			<wsdl:fault name="getCurrentBoltonsFault" message="mba:getCurrentBoltonsFault"/>
		</wsdl:operation>		
		<wsdl:operation name="getValidBoltons">
			<wsdl:input name="getValidBoltons" message="mba:getValidBoltons"/>
			<wsdl:output name="getValidBoltonsResponse" message="mba:getValidBoltonsResponse"/>
			<wsdl:fault name="getValidBoltonsFault" message="mba:getValidBoltonsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getBusinessPolicies">
			<wsdl:input name="getBusinessPolicies" message="mba:getBusinessPolicies"/>
			<wsdl:output name="getBusinessPoliciesResponse" message="mba:getBusinessPoliciesResponse"/>
			<wsdl:fault name="getBusinessPoliciesFault" message="mba:getBusinessPoliciesFault"/>
		</wsdl:operation>
		<wsdl:operation name="addBoltons">
			<wsdl:input name="addBoltons" message="mba:addBoltons"/>
			<wsdl:output name="addBoltonsResponse" message="mba:addBoltonsResponse"/>
			<wsdl:fault name="addBoltonsFault" message="mba:addBoltonsFault"/>
		</wsdl:operation>
		<wsdl:operation name="changeBoltonParameters">
			<wsdl:input name="changeBoltonParameters" message="mba:changeBoltonParameters"/>
			<wsdl:output name="changeBoltonParametersResponse" message="mba:changeBoltonParametersResponse"/>
			<wsdl:fault name="changeBoltonParametersFault" message="mba:changeBoltonParametersFault"/>
		</wsdl:operation>
		<wsdl:operation name="removeBoltons">
			<wsdl:input name="removeBoltons" message="mba:removeBoltons"/>
			<wsdl:output name="removeBoltonsResponse" message="mba:removeBoltonsResponse"/>
			<wsdl:fault name="removeBoltonsFault" message="mba:removeBoltonsFault"/>
		</wsdl:operation>	
		<wsdl:operation name="getCurrentAndPendingBoltons">
			<wsdl:input name="getCurrentAndPendingBoltons" message="mba:getCurrentAndPendingBoltons"/>
			<wsdl:output name="getCurrentAndPendingBoltonsResponse" message="mba:getCurrentAndPendingBoltonsResponse"/>
			<wsdl:fault name="getCurrentAndPendingBoltonsFault" message="mba:getCurrentAndPendingBoltonsFault"/>
		</wsdl:operation>
		<wsdl:operation name="cancelBoltonsChange">
			<wsdl:input name="cancelBoltonsChange" message="mba:cancelBoltonsChange"/>
			<wsdl:output name="cancelBoltonsChangeResponse" message="mba:cancelBoltonsChangeResponse"/>
			<wsdl:fault name="cancelBoltonsChangeFault" message="mba:cancelBoltonsChangeFault"/>
		</wsdl:operation>	
	</wsdl:portType>

	<wsdl:binding name="ManagePostpayBoltonsBinding" type="mba:ManagePostpayBoltonsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCurrentBoltons">
			<soap:operation soapAction=""/>
			<wsdl:input name="getCurrentBoltons">
				<soap:body parts="getCurrentBoltons" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCurrentBoltonsResponse">
				<soap:body parts="getCurrentBoltonsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getCurrentBoltonsFault">
				<soap:fault name="getCurrentBoltonsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getValidBoltons">
			<soap:operation soapAction=""/>
			<wsdl:input name="getValidBoltons">
				<soap:body parts="getValidBoltons" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getValidBoltonsResponse">
				<soap:body parts="getValidBoltonsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getValidBoltonsFault">
				<soap:fault name="getValidBoltonsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getBusinessPolicies">
			<soap:operation soapAction=""/>
			<wsdl:input name="getBusinessPolicies">
				<soap:body parts="getBusinessPolicies" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBusinessPoliciesResponse">
				<soap:body parts="getBusinessPoliciesResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getBusinessPoliciesFault">
				<soap:fault name="getBusinessPoliciesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addBoltons">
			<soap:operation soapAction=""/>
			<wsdl:input name="addBoltons">
				<soap:body parts="addBoltons" use="literal"/>
			</wsdl:input>
			<wsdl:output name="addBoltonsResponse">
				<soap:body parts="addBoltonsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="addBoltonsFault">
				<soap:fault name="addBoltonsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="changeBoltonParameters">
			<soap:operation soapAction=""/>
			<wsdl:input name="changeBoltonParameters">
				<soap:body parts="changeBoltonParameters" use="literal"/>
			</wsdl:input>
			<wsdl:output name="changeBoltonParametersResponse">
				<soap:body parts="changeBoltonParametersResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="changeBoltonParametersFault">
				<soap:fault name="changeBoltonParametersFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="removeBoltons">
			<soap:operation soapAction=""/>
			<wsdl:input name="removeBoltons">
				<soap:body parts="removeBoltons" use="literal"/>
			</wsdl:input>
			<wsdl:output name="removeBoltonsResponse">
				<soap:body parts="removeBoltonsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="removeBoltonsFault">
				<soap:fault name="removeBoltonsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCurrentAndPendingBoltons">
			<soap:operation soapAction=""/>
			<wsdl:input name="getCurrentAndPendingBoltons">
				<soap:body parts="getCurrentAndPendingBoltons" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCurrentAndPendingBoltonsResponse">
				<soap:body parts="getCurrentAndPendingBoltonsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getCurrentAndPendingBoltonsFault">
				<soap:fault name="getCurrentAndPendingBoltonsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelBoltonsChange">
			<soap:operation soapAction=""/>
			<wsdl:input name="cancelBoltonsChange">
				<soap:body parts="cancelBoltonsChange" use="literal"/>
			</wsdl:input>
			<wsdl:output name="cancelBoltonsChangeResponse">
				<soap:body parts="cancelBoltonsChangeResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="cancelBoltonsChangeFault">
				<soap:fault name="cancelBoltonsChangeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		</wsdl:binding>

	<wsdl:service name="ManagePostpayBoltonsService">
		<wsdl:port name="ManagePostpayBoltonsPort" binding="mba:ManagePostpayBoltonsBinding">
			<soap:address location="https://sdpapi.o2.co.uk/services/ManagePostpayBoltons_2_0"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>