service/src/main/resources/META-INF/wsdl/pscommonmanageprepaydata_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 													            						
	Date			Change		Author			Change Description      						
	13/05/2011		2.0.1		Subramanyam		Removed the enumeration for the simpleType channel.
	20/01/2011     	2.0.0	    shivaji    		Added following simple types
												paymentType,
												rateDescription,
												allowanceDescription,
												tariffName, 
												tariffDescription, 
												description,
												tariffGroupID, 
												tariffGroupName & 
												tariffGroupDescription.   	
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmd="http://soa.o2.co.uk/pscommonmanageprepaydata_1" targetNamespace="http://soa.o2.co.uk/pscommonmanageprepaydata_1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="businessPolicy">
		<xsd:annotation>
			<xsd:documentation>Business Policy for O2 Prepay products</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="subject" type="cmd:subject">
				<xsd:annotation>
					<xsd:documentation>The entity that has permission to carry out the operation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="action" type="cmd:action">
				<xsd:annotation>
					<xsd:documentation>The operation the permission covers. 
					ADD – The subject is allowed to add the object to the contract. 
					REMOVE – The subject is allowed to remove the object from the contract.
					MODIFY – The subject is allowed to modify the object.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productId" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Product Id of the product the operation can act on.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="channel" type="cmd:channel">
				<xsd:annotation>
					<xsd:documentation>The channel over which the operation is permitted.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="permitted" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Whether the operation is permitted or not.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reasonCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If permission is denied, the business rule reason code that is preventing the operation. This will be referred by the Consumer to display the appropriate message to the Customer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reasonMessage" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If permission is denied, the message used for internal (e.g. Ops, Customer Service) purposes and may be for the Customer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="prepayServiceResult">
		<xsd:annotation>
			<xsd:documentation>Transaction result from the prepay broker backend</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="statusCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>A unique code assigned to the status from the service. A set of status codes can be defined for services based on the context. A stausCode will have a suffix of "S" for success or "F" for Failure</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="statusMessage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Description of transaction status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="subject">
		<xsd:annotation>
			<xsd:documentation>Subject is the entity on which the Business Policy is enforced</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CUSTOMER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="action">
		<xsd:annotation>
			<xsd:documentation>Action on the product.Enumerated ADD,REMOVE or MODIFY</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ADD"/>
			<xsd:enumeration value="REMOVE"/>
			<xsd:enumeration value="MODIFY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="channel">
		<xsd:annotation>
			<xsd:documentation>Channel from which has called this service</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="tariffType">
		<xsd:annotation>
			<xsd:documentation>Enumerated: CONSUMER / STAFF / RETENTION</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:enumeration value="CONSUMER"/>
			<xsd:enumeration value="STAFF"/>
			<xsd:enumeration value="RETENTION"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tariffStatus">
		<xsd:annotation>
			<xsd:documentation>Enumerated: CURRENT / PENDING / LEGACY</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:enumeration value="CURRENT"/>
			<xsd:enumeration value="PENDING"/>
			<xsd:enumeration value="LEGACY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tariffId">
		<xsd:annotation>
			<xsd:documentation>Standard tariff ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	
		<xsd:simpleType name="tariffName">
		<xsd:annotation>
			<xsd:documentation>Tariff name</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="tariffDescription">
		<xsd:annotation>
			<xsd:documentation>Tariff description</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="rateId">
		<xsd:annotation>
			<xsd:documentation>Unique Rate Identifier</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="rateDescription">
		<xsd:annotation>
			<xsd:documentation>Rate description</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="rateValue">
		<xsd:annotation>
			<xsd:documentation>Rate Value for Tariff</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="parameterType">
		<xsd:annotation>
			<xsd:documentation>Enumerated: POSTCODE / PHONENUMBER</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:enumeration value="POSTCODE"/>
			<xsd:enumeration value="PHONENUMBER"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="parameterCategory">
		<xsd:annotation>
			<xsd:documentation>Enumerated: UK / UK_MOBILE / UK_LAND / O2 / HOME_ZONE / INTERNATIONAL / UNRESTRICTED</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
			<xsd:enumeration value="O2"/>
			<xsd:enumeration value="UK"/>
			<xsd:enumeration value="UK_MOBILE"/>
			<xsd:enumeration value="UK_LAND"/>
			<xsd:enumeration value="HOME_ZONE"/>
			<xsd:enumeration value="INTERNATIONAL"/>
			<xsd:enumeration value="UNRESTRICTED"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="parameterValue">
		<xsd:annotation>
			<xsd:documentation>Parameter Value</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="maxParameters">
		<xsd:annotation>
			<xsd:documentation>Parameter Size</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="accountStatusId">
		<xsd:annotation>
			<xsd:documentation>Unique Account ID</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="accountStatusDescription">
		<xsd:annotation>
			<xsd:documentation>O2 Customer Account Details</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="accountBalance">
		<xsd:annotation>
			<xsd:documentation>O2 Customer Account Balance</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:totalDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="allowanceId">
		<xsd:annotation>
			<xsd:documentation>Unique Allowance Identifier</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="allowanceDescription">
		<xsd:annotation>
			<xsd:documentation>Descriptive text of the tariff allowance</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="allowanceStatusInternal">
		<xsd:annotation>
			<xsd:documentation>Allowance Status Internal Information</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="allowanceStatusExternal">
		<xsd:annotation>
			<xsd:documentation>Allowance Status External Information</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="allowanceText">
		<xsd:annotation>
			<xsd:documentation>Allowance Details for a subscriber</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="allowanceURL">
		<xsd:annotation>
			<xsd:documentation>Allowance URL</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="orderIndex">
		<xsd:annotation>
			<xsd:documentation>Describes the order in which the items need to displayed</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paymentType">
		<xsd:annotation>
			<xsd:documentation>Payment type for the tariff,</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="tariffGroupName">
		<xsd:annotation>
			<xsd:documentation>Tariff group name</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tariffGroupDescription">
		<xsd:annotation>
			<xsd:documentation>Tariff group description</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tariffGroupId">
		<xsd:annotation>
			<xsd:documentation>Tariff group identifier</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>	
</xsd:schema>