stubs/o2services/src/main/resources/wsdl/managepostpaytariffservice_2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Date        Change#       		  Author             Change Description-->
<!--31/12/2009   1.0.1             Venkata Karthik    Replaced getTariffCompatibility operation with getTariffCompatibleProducts as part of Dashboard CR.-->
<!--13/11/2009   1.0.0             Venkata Karthik    Initail version created-->
<wsdl:definitions name="ManagePostpayTariff" targetNamespace="http://soa.o2.co.uk/managepostpaytariffservice_2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mta="http://soa.o2.co.uk/managepostpaytariffservice_2" xmlns:mtd="http://soa.o2.co.uk/managepostpaytariffdata_2">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://soa.o2.co.uk/managepostpaytariffdata_2" schemaLocation="managepostpaytariffdata_2_0.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getContract">
		<wsdl:part name="getContract" element="mtd:getContract"/>
	</wsdl:message>
	<wsdl:message name="getContractResponse">
		<wsdl:part name="getContractResponse" element="mtd:getContractResponse"/>
	</wsdl:message>
	<wsdl:message name="getContractFault">
		<wsdl:part name="getContractFault" element="mtd:getContractFault"/>
	</wsdl:message>
	<wsdl:message name="getContractRevisions">
		<wsdl:part name="getContractRevisions" element="mtd:getContractRevisions"/>
	</wsdl:message>
	<wsdl:message name="getContractRevisionsResponse">
		<wsdl:part name="getContractRevisionsResponse" element="mtd:getContractRevisionsResponse"/>
	</wsdl:message>
	<wsdl:message name="getContractRevisionsFault">
		<wsdl:part name="getContractRevisionsFault" element="mtd:getContractRevisionsFault"/>
	</wsdl:message>
	<wsdl:message name="getBusinessPolicies">
		<wsdl:part name="getBusinessPolicies" element="mtd:getBusinessPolicies"/>
	</wsdl:message>
	<wsdl:message name="getBusinessPoliciesResponse">
		<wsdl:part name="getBusinessPoliciesResponse" element="mtd:getBusinessPoliciesResponse"/>
	</wsdl:message>
	<wsdl:message name="getBusinessPoliciesFault">
		<wsdl:part name="getBusinessPoliciesFault" element="mtd:getBusinessPoliciesFault"/>
	</wsdl:message>
	<wsdl:message name="getValidTariffs">
		<wsdl:part name="getValidTariffs" element="mtd:getValidTariffs"/>
	</wsdl:message>
	<wsdl:message name="getValidTariffsResponse">
		<wsdl:part name="getValidTariffsResponse" element="mtd:getValidTariffsResponse"/>
	</wsdl:message>
	<wsdl:message name="getValidTariffsFault">
		<wsdl:part name="getValidTariffsFault" element="mtd:getValidTariffsFault"/>
	</wsdl:message>
	<wsdl:message name="changeContract">
		<wsdl:part name="changeContract" element="mtd:changeContract"/>
	</wsdl:message>
	<wsdl:message name="changeContractResponse">
		<wsdl:part name="changeContractResponse" element="mtd:changeContractResponse"/>
	</wsdl:message>
	<wsdl:message name="changeContractFault">
		<wsdl:part name="changeContractFault" element="mtd:changeContractFault"/>
	</wsdl:message>
	<wsdl:message name="cancelContractChange">
		<wsdl:part name="cancelContractChange" element="mtd:cancelContractChange"/>
	</wsdl:message>
	<wsdl:message name="cancelContractChangeResponse">
		<wsdl:part name="cancelContractChangeResponse" element="mtd:cancelContractChangeResponse"/>
	</wsdl:message>
	<wsdl:message name="cancelContractChangeFault">
		<wsdl:part name="cancelContractChangeFault" element="mtd:cancelContractChangeFault"/>
	</wsdl:message>
	<wsdl:message name="getTariffCompatibleProducts">
		<wsdl:part name="getTariffCompatibleProducts" element="mtd:getTariffCompatibleProducts"/>
	</wsdl:message>
	<wsdl:message name="getTariffCompatibleProductsResponse">
		<wsdl:part name="getTariffCompatibleProductsResponse" element="mtd:getTariffCompatibleProductsResponse"/>
	</wsdl:message>
	<wsdl:message name="getTariffCompatibleProductsFault">
		<wsdl:part name="getTariffCompatibleProductsFault" element="mtd:getTariffCompatibleProductsFault"/>
	</wsdl:message>

	<wsdl:portType name="ManagePostpayTariffPortType">
		<wsdl:operation name="getContract">
			<wsdl:input name="getContract" message="mta:getContract"/>
			<wsdl:output name="getContractResponse" message="mta:getContractResponse"/>
			<wsdl:fault name="getContractFault" message="mta:getContractFault"/>
		</wsdl:operation>
		<wsdl:operation name="getContractRevisions">
			<wsdl:input name="getContractRevisions" message="mta:getContractRevisions"/>
			<wsdl:output name="getContractRevisionsResponse" message="mta:getContractRevisionsResponse"/>
			<wsdl:fault name="getContractRevisionsFault" message="mta:getContractRevisionsFault"/>
		</wsdl:operation>
		<wsdl:operation name="getBusinessPolicies">
			<wsdl:input name="getBusinessPolicies" message="mta:getBusinessPolicies"/>
			<wsdl:output name="getBusinessPoliciesResponse" message="mta:getBusinessPoliciesResponse"/>
			<wsdl:fault name="getBusinessPoliciesFault" message="mta:getBusinessPoliciesFault"/>
		</wsdl:operation>
		<wsdl:operation name="getValidTariffs">
			<wsdl:input name="getValidTariffs" message="mta:getValidTariffs"/>
			<wsdl:output name="getValidTariffsResponse" message="mta:getValidTariffsResponse"/>
			<wsdl:fault name="getValidTariffsFault" message="mta:getValidTariffsFault"/>
		</wsdl:operation>
		<wsdl:operation name="changeContract">
			<wsdl:input name="changeContract" message="mta:changeContract"/>
			<wsdl:output name="changeContractResponse" message="mta:changeContractResponse"/>
			<wsdl:fault name="changeContractFault" message="mta:changeContractFault"/>
		</wsdl:operation>
		<wsdl:operation name="cancelContractChange">
			<wsdl:input name="cancelContractChange" message="mta:cancelContractChange"/>
			<wsdl:output name="cancelContractChangeResponse" message="mta:cancelContractChangeResponse"/>
			<wsdl:fault name="cancelContractChangeFault" message="mta:cancelContractChangeFault"/>
		</wsdl:operation>
		<wsdl:operation name="getTariffCompatibleProducts">
			<wsdl:input name="getTariffCompatibleProducts" message="mta:getTariffCompatibleProducts"/>
			<wsdl:output name="getTariffCompatibleProductsResponse" message="mta:getTariffCompatibleProductsResponse"/>
			<wsdl:fault name="getTariffCompatibleProductsFault" message="mta:getTariffCompatibleProductsFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ManagePostpayTariffBinding" type="mta:ManagePostpayTariffPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getContract">
			<soap:operation soapAction=""/>
			<wsdl:input name="getContract">
				<soap:body parts="getContract" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getContractResponse">
				<soap:body parts="getContractResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getContractFault">
				<soap:fault name="getContractFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getContractRevisions">
			<soap:operation soapAction=""/>
			<wsdl:input name="getContractRevisions">
				<soap:body parts="getContractRevisions" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getContractRevisionsResponse">
				<soap:body parts="getContractRevisionsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getContractRevisionsFault">
				<soap:fault name="getContractRevisionsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getBusinessPolicies">
			<soap:operation soapAction=""/>
			<wsdl:input name="getBusinessPolicies">
				<soap:body parts="getBusinessPolicies" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBusinessPoliciesResponse">
				<soap:body parts="getBusinessPoliciesResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getBusinessPoliciesFault">
				<soap:fault name="getBusinessPoliciesFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getValidTariffs">
			<soap:operation soapAction=""/>
			<wsdl:input name="getValidTariffs">
				<soap:body parts="getValidTariffs" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getValidTariffsResponse">
				<soap:body parts="getValidTariffsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getValidTariffsFault">
				<soap:fault name="getValidTariffsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="changeContract">
			<soap:operation soapAction=""/>
			<wsdl:input name="changeContract">
				<soap:body parts="changeContract" use="literal"/>
			</wsdl:input>
			<wsdl:output name="changeContractResponse">
				<soap:body parts="changeContractResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="changeContractFault">
				<soap:fault name="changeContractFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelContractChange">
			<soap:operation soapAction=""/>
			<wsdl:input name="cancelContractChange">
				<soap:body parts="cancelContractChange" use="literal"/>
			</wsdl:input>
			<wsdl:output name="cancelContractChangeResponse">
				<soap:body parts="cancelContractChangeResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="cancelContractChangeFault">
				<soap:fault name="cancelContractChangeFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getTariffCompatibleProducts">
			<soap:operation soapAction=""/>
			<wsdl:input name="getTariffCompatibleProducts">
				<soap:body parts="getTariffCompatibleProducts" use="literal"/>
			</wsdl:input>
			<wsdl:output name="getTariffCompatibleProductsResponse">
				<soap:body parts="getTariffCompatibleProductsResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getTariffCompatibleProductsFault">
				<soap:fault name="getTariffCompatibleProductsFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:service name="ManagePostpayTariffService">
		<wsdl:port name="ManagePostpayTariffPort" binding="mta:ManagePostpayTariffBinding">
			<soap:address location="https://sdpapi.o2.co.uk/services/ManagePostpayTariff_2_0"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>