stubs/o2services/src/main/resources/wsdl/managepostpaytariffdata_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Date        Change#       		  	Author             Change Description
	31/12/2009   1.0.2             	Venkata Karthik		 Replaced getTariffCompatibility operation with getTariffCompatibleProducts as part of Dashboard CR.
	25/11/2009   1.0.1             	Venkata Karthik		 serviceRequestId made optional in response of changeContract.
	13/11/2009   1.0.0             	Venkata Karthik		 Initial Version-->
<xsd:schema targetNamespace="http://soa.o2.co.uk/managepostpaytariffdata_2" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xcore="http://soa.o2.co.uk/coredata_1" xmlns:mtd="http://soa.o2.co.uk/managepostpaytariffdata_2" xmlns:cpd="http://soa.o2.co.uk/pscommonpostpaydata_2">
	<xsd:import namespace="http://soa.o2.co.uk/pscommonpostpaydata_2" schemaLocation="pscommonpostpaydata_2_0.xsd"/>
	<xsd:import namespace="http://soa.o2.co.uk/coredata_1" schemaLocation="coredata_1_1.xsd"/>
	<xsd:element name="getContract" type="mtd:getContract">
		<xsd:annotation>
			<xsd:documentation>For a given customer identifier, retrieves the current mobile service contract associated with the MSISDN. Also includes any recorded future changes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getContractResponse" type="mtd:getContractResponse">
		<xsd:annotation>
			<xsd:documentation>For a given customer identifier, retrieves the current mobile service contract associated with the MSISDN. Also includes any recorded future changes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getContractFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>Generic Fault message for getContract operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getContractRevisions" type="mtd:getContractRevisions">
		<xsd:annotation>
			<xsd:documentation>Retrieves any pending revisions applicable to the service contract.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getContractRevisionsResponse" type="mtd:getContractRevisionsResponse">
		<xsd:annotation>
			<xsd:documentation>Retrieves any pending revisions applicable to the service contract.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getContractRevisionsFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>Generic Fault message for getContractRevisions operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getBusinessPolicies" type="mtd:getBusinessPolicies">
		<xsd:annotation>
			<xsd:documentation>Retrieves the current set of business policies in force on the contract.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getBusinessPoliciesResponse" type="mtd:getBusinessPoliciesResponse">
		<xsd:annotation>
			<xsd:documentation>Retrieves the current set of business policies in force on the contract.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getBusinessPoliciesFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>Generic Fault message for getBusinessPolicies operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getValidTariffs" type="mtd:getValidTariffs">
		<xsd:annotation>
			<xsd:documentation>Retrieves the list of tariffs that the customer is eligible to move to.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getValidTariffsResponse" type="mtd:getValidTariffsResponse">
		<xsd:annotation>
			<xsd:documentation>Retrieves the list of tariffs that the customer is eligible to move to.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getValidTariffsFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>Generic Fault message for getValidTariffs operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getTariffCompatibleProducts" type="mtd:getTariffCompatibleProducts">
		<xsd:annotation>
			<xsd:documentation>This is the request for getTariffCompatibleProducts operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getTariffCompatibleProductsResponse" type="mtd:getTariffCompatibleProductsResponse">
		<xsd:annotation>
			<xsd:documentation>This is the response for getTariffCompatibleProducts operation. Indicates whether the list of current Tariff Bolton products are compatible to the destination Tariff.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="getTariffCompatibleProductsFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>Generic Fault message for getTariffCompatibleProducts operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="changeContract" type="mtd:changeContract">
		<xsd:annotation>
			<xsd:documentation>Requests an alteration to the existing service contract (typically a change of tariff). Contract changes are typically applied after the account has next been billed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="changeContractResponse" type="mtd:genericContractResponse">
		<xsd:annotation>
			<xsd:documentation>Requests an alteration to the existing service contract (typically a change of tariff). Contract changes are typically applied after the account has next been billed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="changeContractFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>Generic Fault message for changeContract operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="cancelContractChange" type="mtd:cancelContractChange">
		<xsd:annotation>
			<xsd:documentation>Cancels all pending changes to the contract (e.g. tariff change).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="cancelContractChangeResponse" type="mtd:genericContractResponse">
		<xsd:annotation>
			<xsd:documentation>Cancels all pending changes to the contract (e.g. tariff change).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="cancelContractChangeFault" type="xcore:SOAFaultType">
		<xsd:annotation>
			<xsd:documentation>Generic Fault message for cancelContractChange operation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="getContract">
		<xsd:annotation>
			<xsd:documentation>For a given customer identifier, retrieves the current mobile service contract associated with the MSISDN. Also includes any recorded future changes.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="customerId" type="xcore:accountType">
				<xsd:annotation>
					<xsd:documentation>MSISDN is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getContractResponse">
		<xsd:annotation>
			<xsd:documentation>For a given customer identifier, retrieves the current mobile service contract associated with the MSISDN. Also includes any recorded future changes.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="currentContract" type="mtd:serviceContractType">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getContractRevisions">
		<xsd:annotation>
			<xsd:documentation>Retrieves any pending revisions applicable to the service contract.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="customerId" type="xcore:accountType">
				<xsd:annotation>
					<xsd:documentation>MSISDN is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getContractRevisionsResponse">
		<xsd:annotation>
			<xsd:documentation>Retrieves any pending revisions applicable to the service contract.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MSISDN" type="xsd:string"/>
			<xsd:element name="revisedContract" type="mtd:serviceContractType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>If there is a contract revision (tariff or inclusive product change) pending, provides the new contract.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effectiveDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date on which this version of the contract becomes active.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cancelToken" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Token to be used to cancel the pending contract revision.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getBusinessPolicies">
		<xsd:annotation>
			<xsd:documentation>Retrieves the current set of business policies in force on the contract.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="customerId" type="xcore:accountType">
				<xsd:annotation>
					<xsd:documentation>MSISDN is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getBusinessPoliciesResponse">
		<xsd:annotation>
			<xsd:documentation>Retrieves the current set of business policies in force on the contract.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
    		<xsd:element name="businessPolicies" type="mtd:businessPoliciesType" minOccurs="0"/>
    	</xsd:sequence>					
	</xsd:complexType>
	<xsd:complexType name="getValidTariffs">
		<xsd:annotation>
			<xsd:documentation>Retrieves the list of tariffs that the customer is eligible to move to.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="customerId" type="xcore:accountType">
				<xsd:annotation>
					<xsd:documentation>MSISDN is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="overrideRules" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates whether business rules are to be over-ridden. Ignored for clients not authorized to over-ride business rules. Transaction may still fail due to rules which can not be over-ridden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariffFamily" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The tariffs to be returned based on the list of Tariff families requested.
					This is applicable only if the business rules are to be over-ridden. 
					Ignored for clients not authorized to over-ride business rules.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getValidTariffsResponse">
		<xsd:annotation>
			<xsd:documentation>Retrieves the list of tariffs that the customer is eligible to move to.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MSISDN" type="xcore:msisdnType">
				<xsd:annotation>
					<xsd:documentation>International format ccaaaannnnnnnnn where: cc = county code; aaaa = area code and nnn = subscriber number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validTariffs" type="mtd:validTariffsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>List of tariffs which the customer is eligible to move to.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getTariffCompatibleProducts">
		<xsd:annotation>
			<xsd:documentation>This is the request for getTariffCompatibleProducts operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="MSISDN" type="xcore:msisdnType"/>
				<xsd:element name="tariffProducts" type="mtd:tariffProductsType"/>
			</xsd:choice>
			<xsd:element name="newTariffId" type="cpd:productIdType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getTariffCompatibleProductsResponse">
		<xsd:annotation>
			<xsd:documentation>This is the response for getTariffCompatibleProducts operation.Indicates whether the list of current Tariff Bolton products are compatible to the destination Tariff.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="responseCode" type="xsd:string" />
            <xsd:element name="tariffCompatibilityByMsisdn" type="mtd:tariffCompatibilityByMsisdnType" minOccurs="0"></xsd:element>
            <xsd:element name="tariffCompatibilityByProductList"
				type="mtd:tariffCompatibilityByProductListType" minOccurs="0" />
        </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="changeContract">
		<xsd:annotation>
			<xsd:documentation>Requests an alteration to the existing service contract (typically a change of tariff). Contract changes are typically applied after the account has next been billed.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="customerId" type="xcore:accountType">
				<xsd:annotation>
					<xsd:documentation>MSISDN is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="revisedContract" type="mtd:serviceContractType">
				<xsd:annotation>
					<xsd:documentation>If there is a contract revision (tariff or inclusive product change) pending, provides the new contract.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="additionalProducts" type="cpd:productType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of additional services to be added as part of the transaction.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effectiveStartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Effective date of tariff transfer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="overrideRules" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates whether business rules are to be over-ridden. Ignored for clients not authorized to over-ride business rules. Transaction may still fail due to rules which can not be over-ridden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="genericContractResponse">
		<xsd:annotation>
			<xsd:documentation>Generic contract response structure.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="statusCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Status code to indicate the state of the request.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="statusMessage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Status of the of the Service Request.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceRequestId" type="xsd:string" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Service Request Id for the service request. Will only be returned when the request for changeContract has been accepted successfully.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isRulesOverridable" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cancelContractChange">
		<xsd:annotation>
			<xsd:documentation>Cancels all pending changes to the contract (e.g. tariff change).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cancelToken" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>Token provided in the getContractRevisions call.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="serviceContractType">
		<xsd:annotation>
			<xsd:documentation>Service contract details.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="startDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Date the contract started – original activation date or last upgrade date.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="endDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The date the contract will end.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minimumTerm" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum term of the contract in months.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tariff" type="cpd:productType">
				<xsd:annotation>
					<xsd:documentation>The tariff product related to services provided by the contract.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="billingAccountNumber" type="xcore:billingAccountNumberType">
				<xsd:annotation>
					<xsd:documentation>Billing Account that receives charges generated by this contract.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MSISDN" type="xcore:msisdnType">
				<xsd:annotation>
					<xsd:documentation>Must be in international format, e.g. 447702775390.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tariffProductsType">
		<xsd:annotation>
			<xsd:documentation>a set of bolton product ids</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="productId" type="cpd:productIdType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tariffCompatibilityByProductListType">
		<xsd:annotation>
			<xsd:documentation>a set of bolton products.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tariffProduct" type="mtd:tariffProductType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tariffProductType">
		<xsd:annotation>
			<xsd:documentation>a set of bolton product ids along with Compatibility flag for a given tariff.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="productId"
				type="cpd:productIdType" />
			<xsd:element name="compatibleStatus" type="mtd:compatibleStatusType" />
			<xsd:element name="reasonMessage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The descriptive message for the compatibility status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="validTariffsType">
		<xsd:annotation>
			<xsd:documentation>List of valid tariffs</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tariff" type="cpd:productType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>List of tariffs which the customer is eligible to move to.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="responseCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The response code indicates the status of the response.
					If all the records are returned, it returns success code otherwise warning code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="businessPoliciesType">
    	<xsd:annotation>
			<xsd:documentation>A list of policies active against the current contract.</xsd:documentation>
		</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="businessPolicy" type="cpd:businessPolicy" maxOccurs="unbounded"/>
    	</xsd:sequence>
    </xsd:complexType>

	<xsd:simpleType name="compatibleStatusType">
        <xsd:annotation>
        	<xsd:documentation>
        		The compatibility status which can be one of the following 4 values 
        		NOT_COMPATIBLE 
        		COMPATIBLE_REMOVED
        		COMPATIBLE_COPIED 
        		COMPATIBLE_NOT_COPIED
        	</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"></xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="msisdnProductsType">
		<xsd:annotation>
			<xsd:documentation>msisdnProductType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="product" type="cpd:productType"></xsd:element>
			<xsd:element name="compatibleStatus" type="mtd:compatibleStatusType"></xsd:element>
			<xsd:element name="reasonMessage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The descriptive message for the compatibility status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tariffCompatibilityByMsisdnType">
		<xsd:annotation>
			<xsd:documentation>tariffCompatibilityByMisisdnType</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tariffProduct" type="mtd:msisdnProductsType" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>